#nav {
	-webkit-box-shadow:	0 0 5px #000;
	-moz-box-shadow:	0 0 5px #000;
	box-shadow:			0 0 5px #000;
	-ms-box-shadow:		0 0 5px #000;
	-o-box-shadow:		0 0 5px #000;
}

.menu,
.navbar-toggle {
	li,
	a {
		@include transition(all 0.25s);
	}

	li {
		background: rgba(0,0,0,0.15);

		&:hover {
			background: rgba(0,0,0,0.3);
		}
	}

	a {
		display: block;
		padding: 11px;
		width: 44px;
		height: 44px;
		color: $ltgray;
		font-weight: 700;

		@media (min-width: 768px) {
			padding: 21px;
			width: 60px;
			height: 60px;
		}
	}
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 0;
		border-bottom: 1px solid #000;
		line-height: normal;

		.icon-arrow-right:before,
		.icon-arrow-left:before {
			font-size: 1.3rem;
			position: relative;
			top: 0px;
			left: -3px;
			color: #fff;

			@media (min-width: 768px) {
				top: -1px;
				left: -5px;
			}
		}

		&.menu-item {
			display: none;

			@media (min-width: 768px) {
				display: block;
			}
		}

		&.active,
		&.current-menu-item {
			background: $green;
		}

		&.active a,
		&.current-menu-item a {
			color: #000;
		}
	}

	a {
		border: none;
		text-decoration: none;
	}

	.logo {
		a {
			padding: 0;
			height: auto;
		}

		span {
			@include font-size(24px);
			display: block;
			color: $green;
			line-height: 0.8;

			@media (min-width: 768px) {
				@include font-size(30px);
			}
		}
	}

	.overview-toggle a,
	.nav-toggle a {
		cursor: pointer;
	}

	.overview-toggle {
		a {
			position: relative;
			height: 115px;

			@media (min-width: 768px) {
				height: 125px;
			}
		}

		span {
			position: absolute;
			top: 50px;
			left: -18px;
			text-transform: uppercase;
			-webkit-transform:	rotate(-90deg);
			-moz-transform:		rotate(-90deg);
			-ms-transform:		rotate(-90deg);
			-o-transform:		rotate(-90deg);
			transform:			rotate(-90deg);

			@media (min-width: 768px) {
				top: 55px;
				left: -10px;
			}
		}

		@media (min-width: 768px) {
			display: none;
		}
	}

	.nav-toggle {
		@include transition(all 0.25s);
		position: absolute;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #000;
		border-bottom: none;

		a {
			font-size: 1.9rem;
			line-height: 0.5;
			color: #00e653;
		}

		span {
			@include transition(all 0.25s);
			@include transform(rotate(0deg));
			position: absolute;
			right: 14px;

			@media (min-width: 768px) {
				right: 22px;
			}
		}

		&.active span {
			@include transform(rotate(-45deg));
			right: 15px;
			font-size: 2.1rem;

			@media (min-width: 768px) {
				right: 23px;
				font-size: 2.1rem;
			}
		}
	}
}